NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_WS_URL=
NEXT_PUBLIC_DEFAULT_ROOM=
NEXT_APP_URL=
NEXT_PUBLIC_SITE_URL=

AUTH_SECRET=
NEXTAUTH_URL=
AUTH_SHARED_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

RESEND_API_KEY=
EMAIL_FROM=

NEONDB_URL=
